@charset "utf-8";
/* 웹폰트는 가장 먼저 선언하는 것을 권장 */
@import url("https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css");
/* 크로스 브라우징 */
@import url("./normalize.css");

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



*, *::before,*::after{
    box-sizing: border-box;
}

/* 기본 스타일 */
html {
    font-size: 10px;
}
body {
    font-size: 1.4rem;
    /* serif : 삐침이 있는 글꼴. sans-serif : 깔끔한 글꼴
    Noto sans == spoqa han sans(본고딕) 폰트는 크로스 브라우징 이슈가 생길 수 있다.
    */
    font-weight: 400;
    font-family: 'Spoqa Han Sans', sans-serif;
    background: #fff;
    color:#181818;
}

/* 링크 스타일 */
a {
    color: inherit;
    text-decoration: none;
}

.container {
    background: gray;
    width: 1200px;
}

.header {
    background: yellow;
}

.mission_video {
    background: blue;
    height: 100px;
}

.news {
    background: pink;
    height: 100px;
}

.main_corp_info {
    background: green;
    height: 100px;
}

.footer_bg {
    background: indigo;
    height: 100px;
}