@charset "utf-8";
/* 웹폰트는 가장 먼저 선언하는 것을 권장 */
@import url("https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css");
/* 크로스 브라우징 */
@import url("./normalize.css");

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



*, *::before,*::after{
    box-sizing: border-box;
}

/* 기본 스타일 */
html {
    font-size: 14px;
}
body {
    font-size: 1.4rem;
    /* serif : 삐침이 있는 글꼴. sans-serif : 깔끔한 글꼴
    Noto sans == spoqa han sans(본고딕) 폰트는 크로스 브라우징 이슈가 생길 수 있다.
    */
    font-weight: 400;
    font-family: 'Spoqa Han Sans', sans-serif;
    background: #fff;
    color:#181818;
}

/* 링크 스타일 */
a {
    color: inherit;
    text-decoration: none;
}

/* 지정 스타일 */
.container {
    /* background: gray; */
    width: 1280px;
}

/* header 영역 */

.header {
    /* background: yellow; */
    padding: 30px 40px;
}

.nav {
    /* background: powderblue; */
    display: flex;
    justify-content: space-between;
}

.main_menu > a{
    display:inline-block; 
    padding-left: 50px;
    padding-top: 10px;
}

.main_menu a:hover {
    color:greenyellow;
}

.main_menu a:hover .sub_menu_bg {
    display: block;
}

.sub_menu_bg {
    display: none;
    position: absolute;
    top: 110px;
    padding: 20px;
    background: gray;
}

.site_map {
    padding-left: 350px;
    padding-top: 10px;
}

button.language {
    order: 1;
}

.logo {
    padding-top: 5px;
}







/* 비디오 영역 */

/* .mission_video {
    background: blue;
    position: relative;
} */

.introduce_video {
    width: 1275px;
    height: 610px;
}

.slogan_mission {
    position: absolute;
    text-align: center;
    color: white;
    top:385px;
    left: 525px;
}

/* .slogan,.line_mission{
    position: absolute;
    background: red;
    top:305px;
    left: 415px;
} */

/* 뉴스 영역 */

.news {
    /* background: pink; */
    padding: 30px 40px;
    font-size: 1.2rem;
}

.news01 {
    float: left;
    width: 585px;
}
.news02 {
    overflow: hidden;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 550px;
}
/* .test {
    background: yellow;
} */
.news li {
    /* background: yellow; */
    padding: 10px 0;
    text-overflow: ellipsis;
    /* width: 400px; */
    overflow: hidden;
    white-space: nowrap;
} 



/* 메인 정보 영역 */

.main_corp_info {
    background: green;
    height: 100px;
}

/* 푸터 영역 */

.footer_bg {
    background: indigo;
    height: 100px;
}